div.p {
    display: contents;
}

div.p > * {
    margin: 0;
}

div.p > *:last-child {
    margin: 0 0 2rem 0;
}

.center-text, .center-text * {
    vertical-align: middle;
}

.max-width-100 {
    max-width: 100%;
}

.mono {
    font-family: monospace;
}

